*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    overflow-x: hidden;
}
.mr{
    margin-right: 0 !important;
}
.ml{
    margin-left: 0 !important;
}
.pb-0{
    padding-bottom: 0 !important;
}
.pb{
    padding-bottom: 20px;
}
.mr-10{
    margin-right: 10px;
}
.mr-20{
    margin-right: 20px;
}
.mr-30{
    margin-right: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
a{
    text-decoration: none; 
}
.clr{
    clear: both;
}
ol,
ul{
    list-style: none;
}