//========== import link start ==========\\
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;500;700;900&display=swap');
@import '_reset';
@import '_include-media';

//========== import link end ==========\\

//========== common css start ==========\\

// font-family
$Roboto: 'Roboto',
sans-serif;
$Lobster: 'Lobster',
cursive;

a,
a:hover {
    text-decoration: none;
}

.overlay {
    position: absolute;
    background: #000000;
    opacity: .5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

%h1 {
    color: #ffffff;
    font-size: 50px;
    font-family: $Lobster;
    font-weight: 700;
    padding: 15px 0;
}

%h5 {
    color: #000000;
    font-family: $Roboto;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
}

%p {
    color: #ffffff;
    font-size: 20px;
    font-family: $Roboto;
    font-weight: 500;
    text-align: justify;
    line-height: 30px;
    padding: 15px 0;
}

%a_btn {
    color: #ffffff;
    font-size: 30px;
    font-family: $Roboto;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

//========== common css end ==========\\

//========== wrap style start ==========\\

#wrap {
    background: #202020;

    .navbar-brand img {
        width: 150px;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
    }

    .navbar-brand:hover,
    .navbar-brand:focus {
        color: #00eeff;
    }

    .title {
        h1 {
            background: -webkit-linear-gradient(#ffffff, #00ff6a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 25px;
            font-family: $Roboto;
            font-weight: 900;
            margin: 25px 0;
            padding: 5px 10px;
            text-shadow: 2px 4px 5px #07ff00;
        }
    }

    .top-wrap {
        padding: 25px 0;
        font-size: 12px;
        font-family: $Roboto;
        font-weight: 400;

        .icon {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            border: 1px solid #f79f24;

            span {
                color: #f79f24;
            }
        }

        .text {
            padding-left: 15px;
            width: calc(100% - 30px);

            span {
                display: block;
            }

            span:first-child {
                text-transform: uppercase;
                color: #aaaaaa;
                padding: 0 0 5px 0;
            }

            span:last-child {
                color: #fff;
            }
        }
    }

    .social-media {
        display: inline-block;
        p {
            a {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 4px;
                background: rgba(255, 255, 255, 0.1);
                transition: all .3s linear;
                -webkit-transition: all .3s linear;
                -moz-transition: all .3s linear;
                -ms-transition: all .3s linear;
                -o-transition: all .3s linear;

                span {
                    color: white;
                }
            }

            a:hover {
                background: #f79f24;
            }

            a:hover span {
                color: #fff;
            }
        }
    }
}

//========== wrap style end ==========\\

//========== navbar style start ==========\\

.navbar.sticky {
    background: rgba(34, 51, 128, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: sticky 2s;
    z-index: 999999;
}

/*For Animation*/

@-webkit-keyframes sticky {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0%)
    }
}

@keyframes sticky {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0%)
    }
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 10px;
    background: #223380 !important;
    button {
        border: 1px solid #fff !important;
        i {
            color: #fff;
        }
    }
    .collapse {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #fff;
                    font-size: 14px;
                    font-family: 'Roboto Condensed', sans-serif;
                    transition: all .5s linear;
                    position: relative;
                    padding: 0;
                    margin: 5px 10px;
                }

                .nav-link:hover {
                    color: #ff0000;
                }

                .nav-link:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 100%;
                    width: 0;
                    height: 3px;
                    background: #fce38a;
                    transition: all .3s linear;
                }

                .nav-link:hover:before {
                    width: 100%;
                }

                .dropdown-menu {
                    color: #fff;
                    background: rgba(34, 51, 128, 0.8);
                    font-size: 14px;
                    font-family: $Roboto;
                    border: none;
                    transition: all .5s linear;

                    a {
                        color: #fff;
                        padding: 5px;
                    }

                    a:hover {
                        color: #ff0000;
                    }
                }
            }

            .nav-item.active {
                background: #ff0000;
                color: #ffffff;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
            }
        }
    }
}

//========== navbar style end ==========\\

// ============================================================================== \\

//---------- Home Start ----------\\

// ============================================================================== \\

//========== banner style start ==========\\

#banner {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;

    .banner-slide {
        .slick-slide {
            transition: all .5s linear !important;
            -webkit-transition: all .5s linear !important;
            -moz-transition: all .5s linear !important;
            -ms-transition: all .5s linear !important;
            -o-transition: all .5s linear !important;

            .banner-text {
                padding: 200px 50px 0 0;

                h1 {
                    @extend %h1;

                    span {
                        color: #02ff41;
                        font-weight: 900;
                    }
                }

                p {
                    @extend %p;
                }

                a {
                    @extend %a_btn;
                }
            }
        }

    }
}

//========== banner style end ==========\\

//========== achivement style start ==========\\

#achivement {
    position: relative;
    top: -70px;

    .abc {
        box-shadow: 0px 10px 20px rgba(221, 221, 221, 0.59);

        a {
            text-decoration: none;
        }

        .xtra2 {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .xtra3 {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .achive-item {
            background: #f6f6f6;
            padding: 24px 0 8px 0;
            border-right: 1px solid #dddddd;
            transition: all linear .3s;
            border-bottom: 1px solid transparent;
            // width: 285px;
            .img-fluid {
                height: 50px;
            }
            p {
                font-family: $Roboto;
                font-weight: 400;
                font-size: 18px;
                color: #444;
                padding: 20px 0;
                text-transform: uppercase;
                transition: all linear .3s;
            }
        }

        .achive-item:hover {
            border-bottom-color: #0000ff;
        }

        .achive-item:hover p {
            color: #0000ff;
        }
    }
}

//========== achivement style end ==========\\

//========== welcome style start ==========\\

#welcome {
    .welcome-head {
        padding-bottom: 15px;
        margin-top: -30px;

        h1 {
            font-size: 40px;
            font-family: $Roboto;
            color: #222;
            padding-bottom: 20px;

            span {
                color: #02ff41;
                font-family: $Lobster;
            }
        }
    }

    .welcome-details {
        p {
            font-family: $Roboto;
            font-size: 18px !important;
            color: #444;
            text-align: justify;
            font-weight: 400;
            line-height: 30px;
            padding-bottom: 20px;
        }
    }
}

//========== welcome style end ==========\\

//========== course style start ==========\\

#course {
    background: #fffdf7;
    margin: 30px 0;
    padding: 25px 0;

    .common-head {
        text-align: center;

        h2 {
            font-family: $Roboto;
            color: #5b6b80;
            font-size: 32px;
            font-weight: 400;
            display: inline-block;
            position: relative;
        }

        h2:after {
            position: absolute;
            content: '';
            width: 50px;
            height: 2px;
            left: 50%;
            bottom: -12px;
            transform: translateX(-50%);
            background: #ddd;
        }

        p {
            font-family: $Roboto;
            color: #777;
            font-size: 16px;
            font-weight: 400;
            padding-top: 25px;
        }
    }

    .nav-pills {
        text-align: center !important;

        .nav-link.active p {
            color: #ffffff;
        }

        .nav-item {
            text-align: center;
            height: 128px;
            width: 125px;
            border: 1px solid #ddd;

            .nav-link {
                font-size: 14px;
                color: #444;
                font-family: $Roboto;
                text-transform: capitalize;
                display: block;
                padding: 30px 0;

                span {
                    color: #444;
                    font-size: 50px;
                }
            }

            .nav-item.blbr {
                border-right: none;
                border-left: none;
            }

            .nav-link.active span {
                color: #ffffff;
            }
        }

    }

    .tab-content {
        background: #f5f5f5;
        border: 1px solid #ddd;
        border-right: none;
        transition: all linear .3s;

        .tab-pane {
            .gd-left {
                padding-top: 45px;
                padding-left: 30px;

                h3 {
                    font-size: 24px;
                    color: #222;
                    font-weight: 400;
                    font-family: $Roboto;
                    padding-bottom: 20px;
                }

                p {
                    font-size: 16px;
                    color: #444;
                    font-weight: 400;
                    font-family: $Roboto;
                    line-height: 28px;
                }

                a {
                    font-size: 20px;
                    color: #0000ff;
                    font-weight: 400;
                    font-family: $Roboto;
                    text-transform: capitalize;
                }
            }

            .seat {
                background: #49596d;
                padding-left: 30px;
                line-height: 46px;
                margin-top: 28px;
                border-radius: 0px 46px 46px 0px;
                width: 270px;

                a {
                    font-size: 16px;
                    color: #fff;
                    font-weight: 400;
                    font-family: $Roboto;

                    img {
                        padding-right: 15px;
                    }

                    span {
                        font-size: 24px;
                    }
                }
            }

            .price {
                h3 {
                    color: #444;
                    font-size: 24px;
                    font-family: $Roboto;
                    font-weight: 500;
                    padding: 20px 0;

                    span {
                        color: #ff0000;
                        font-weight: 700;
                    }
                }

                h2 {
                    color: #444;
                    font-size: 30px;
                    font-family: $Roboto;
                    font-weight: 500;

                    span {
                        color: #ff0000;
                        font-weight: 700;
                    }
                }
            }

            .gd-right {
                clip-path: polygon(25% 45%, 25% 0, 100% 0, 100% 100%, 25% 100%, 25% 55%, 15% 50%);
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .others {
        text-align: center;
        padding-top: 30px;

        a {
            font-size: 30px;
            font-family: $Roboto;
            font-weight: 700;
            padding: 10px 15px;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }
    }
}

//========== course style end ==========\\

//========== facilities style start ==========\\

#facilities {
    padding: 25px 0;
    margin-top: 30px;

    .common-head {
        padding: 30px 0;
        text-align: center;

        h2 {
            font-family: $Roboto;
            color: #5b6b80;
            font-size: 32px;
            font-weight: 400;
            display: inline-block;
            position: relative;
        }

        h2:after {
            position: absolute;
            content: '';
            width: 50px;
            height: 2px;
            left: 50%;
            bottom: -12px;
            transform: translateX(-50%);
            background: #ddd;
        }

        p {
            font-family: $Roboto;
            color: #777;
            font-size: 16px;
            font-weight: 400;
            padding-top: 25px;
        }
    }

    .faci-main {
        background: #fff;

        .facilities-item {
            padding: 20px;

            h3 {
                font-size: 24px;
                color: #222;
                font-weight: 400;
                font-family: $Roboto;
                padding-top: 20px;
                padding-bottom: 17px;
                text-transform: capitalize;
            }

            p {
                font-size: 16px;
                color: #666;
                font-weight: 400;
                font-family: $Roboto;
                text-align: justify;
            }
        }

        .facilities-item:hover {
            box-shadow: 0px 0px 20px rgba(221, 221, 221, 0.59);
        }
    }
}


//========== facilities style end ==========\\

//========== leader style start ==========\\

#leader {
    background: #f5f5f5;
    padding-top: 74px;
    padding-bottom: 80px;

    .common-head {
        padding: 30px 0;
        text-align: center;

        h2 {
            font-family: $Roboto;
            color: #5b6b80;
            font-size: 32px;
            font-weight: 400;
            display: inline-block;
            position: relative;
        }

        h2:after {
            position: absolute;
            content: '';
            width: 50px;
            height: 2px;
            left: 50%;
            bottom: -12px;
            transform: translateX(-50%);
            background: #ddd;
        }

        p {
            font-family: $Roboto;
            color: #777;
            font-size: 16px;
            font-weight: 400;
            padding-top: 25px;
        }
    }

    .leader-slider {
        background: #fff;
        box-shadow: 0px 0px 20px rgba(221, 221, 221, 0.59);
        border-radius: 5px;

        .leader-img {
            height: 270px;
            width: 270px;

            img {
                width: 100%;
            }
        }

        .leader-speach {
            padding: 20px 20px 20px 0;

            p {
                font-size: 16px;
                color: #666;
                font-weight: 400;
                line-height: 30px;
                font-family: $Roboto;
            }

            h4 {
                font-size: 20px;
                color: #444;
                font-weight: 400;
                font-family: $Roboto;

                span {
                    font-size: 16px;
                }
            }
        }
    }

    .arrows2 {
        position: absolute;
        bottom: 10px;
        left: 35%;
        z-index: 999999;

        i {
            color: #bdbdbd;
            cursor: pointer;
            margin: 0 5px;
            font-size: 20px;
            transition: all .3s linear;
            -webkit-transition: all .3s linear;
            -moz-transition: all .3s linear;
            -ms-transition: all .3s linear;
            -o-transition: all .3s linear;
        }

        i:hover {
            color: #f15850;
            font-size: 30px;
        }
    }

    .left-leader-img {
        position: absolute;
        left: -430px;
        bottom: -75px;
    }
}

//========== leader style end ==========\\

//========== footer style start ==========\\

#footer {
    background: url(../img/footer-bg.jpg);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px 0 5px 0;

    .footer-logo {
        img {
            width: 150px;
        }

        h4 {
            font-family: $Roboto;
            color: #ffffff;
            font-size: 16px;
            padding-top: 35px;
            padding-bottom: 35px;
        }

        .social {
            i {
                width: 40px;
                height: 40px;
                line-height: 40px;
                color: #ffffff;
                border: 1px solid #b8b8b8;
                border-radius: 50%;
                margin: 0 3px;
                transition: all linear .3s;
            }

            i:hover {
                background: #0000ff;
                color: #fff;
                border-color: #0000ff;
            }
        }
    }

    .contact {
        i {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            color: #fff;
            background: #0000ff;
            border-radius: 50%;
            text-align: center;
            margin-top: 6px;
        }

        h3 {
            color: #ffffff;
            font-family: $Roboto;
            font-size: 24px;
            font-weight: 400;
            text-transform: capitalize;
            padding-bottom: 10px;
        }

        .contact-common {
            padding-bottom: 20px;
        }

        .xtra5 {
            padding-top: 0;
        }

        .xtra21 i {
            margin-top: 0;
        }

        .ftralin {
            padding-top: 0;
        }

        .office {
            span {
                color: #ffffff;
                font-family: $Roboto;
                font-size: 16px;
                font-weight: 400;
            }
        }

        .phone {
            padding-top: 10px;

            p {
                a {
                    margin-bottom: 0;
                    color: #ffffff;
                    font-family: $Roboto;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }

        .email {
            p {
                a {
                    line-height: 50px;
                    color: #ffffff;
                    font-family: $Roboto;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }

        ul {
            li {
                a {
                    font-size: 16px;
                    color: rgb(255, 255, 255);
                    font-family: $Roboto;
                    font-weight: 400;
                    text-transform: capitalize;
                    line-height: 33px;
                    transition: all .3s linear;
                    -webkit-transition: all .3s linear;
                    -moz-transition: all .3s linear;
                    -ms-transition: all .3s linear;
                    -o-transition: all .3s linear;
                }

                a:hover {
                    color: #0000ff;
                }
            }
        }
    }

    .contact2 {
        padding-left: 20px;
    }
}

#footer-btm {
    .footerbtm {
        p {
            line-height: 50px;
            margin-bottom: 0;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
        }
    }
}

//========== footer style end ==========\\

// ============================================================================== \\

//---------- Home End ----------\\

// ============================================================================== \\

// ============================================================================== \\

//---------- about Start ----------\\

// ============================================================================== \\

//========== banner style start ==========\\

#about-banner {
    padding: 200px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .about-banner {
        h1 {
            @extend %h1;
        }

        p {
            @extend %p;

            span {
                color: #ff0000;
            }
        }
    }
}

//========== banner style start ==========\\

//========== about style end ==========\\

#about {
    padding: 50px 0;

    .head {
        h1 {
            @extend %h1;
            color: #000000;
            text-align: center;
            position: relative;
        }

        h1::before {
            position: absolute;
            content: '';
            height: 2px;
            width: 250px;
            background: #000000;
            top: 100%;
            left: 10%;
        }
    }

    .about-overview {
        padding-bottom: 20px;
        padding-top: 30px;
        padding-bottom: 80px;

        p {
            font-family: $Roboto;
            font-size: 16px;
            color: #444;
            font-weight: 400;
            line-height: 30px;
            text-align: justify;
        }
    }

    .nav-pills {
        text-align: center !important;

        .nav-link.active p {
            color: #ff0000;
        }

        .nav-item {
            width: 25%;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 0px;
            background: #fff;

            .nav-link {
                font-size: 16px;
                color: #444;
                font-family: $Roboto;
                text-transform: capitalize;
                display: block;
                padding: 30px 0;

                img {
                    filter: grayscale(100%);
                    -webkit-filter: grayscale(100%);
                }
            }

            .nav-link.active {
                border: 2px solid #ff0000;
                background: #ffffff;
            }

            .nav-item.blbr {
                border-right: none;
                border-left: none;
            }

            .nav-link.active img {
                filter: grayscale(0);
                -webkit-filter: grayscale(0);
            }
        }
    }

    .tab-content {
        border: none;
        background: none;

        .mission-head {
            h3 {
                font-family: $Roboto;
                font-size: 32px;
                color: #4e5e73;
                font-weight: 400;
                position: relative;
                padding-bottom: 10px;
            }

            h3:before {
                position: absolute;
                content: '';
                width: 60px;
                height: 3px;
                background: #ddd;
                left: 0;
                bottom: 0;
            }
        }

        .mission-details {
            padding-bottom: 50px;

            p {
                font-family: $Roboto;
                font-size: 16px;
                color: #444;
                font-weight: 400;
                line-height: 30px;
            }
        }

        .xtra23 {
            margin-top: -50px;
        }
    }
}

//========== about style start ==========\\

// ============================================================================== \\

//---------- about End ----------\\

// ============================================================================== \\

// ============================================================================== \\

//---------- ofline course Start ----------\\

// ============================================================================== \\

//========== ofline course style start ==========\\

//========== banner style start ==========\\

#course-banner {
    padding: 200px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .course-banner {
        h1 {
            @extend %h1;
        }

        p {
            @extend %p;

            span {
                color: #ff0000;
            }
        }
    }
}

//========== banner style end ==========\\

//========== ofline-course style start ==========\\

#ofline-course {
    background: #fffdf7;
    padding: 30px 0;

    .common-head {
        text-align: center;

        h2 {
            font-family: $Roboto;
            color: #5b6b80;
            font-size: 32px;
            font-weight: 400;
            display: inline-block;
            position: relative;
        }

        h2:after {
            position: absolute;
            content: '';
            width: 50px;
            height: 2px;
            left: 50%;
            bottom: -12px;
            transform: translateX(-50%);
            background: #ddd;
        }

        p {
            font-family: $Roboto;
            color: #777;
            font-size: 16px;
            font-weight: 400;
            padding-top: 25px;
        }
    }

    .content {
        .pane {
            margin: 15px 0;
            background: #f5f5f5;
            border: 1px solid #ddd;
            border-right: none;
            transition: all linear .3s;

            .gd-left {
                padding-top: 45px;
                padding-left: 30px;

                h3 {
                    font-size: 24px;
                    color: #222;
                    font-weight: 400;
                    font-family: $Roboto;
                    padding-bottom: 20px;
                }

                p {
                    font-size: 16px;
                    color: #444;
                    font-weight: 400;
                    font-family: $Roboto;
                    line-height: 28px;
                }

                a {
                    font-size: 20px;
                    color: #0000ff;
                    font-weight: 400;
                    font-family: $Roboto;
                    text-transform: capitalize;
                }
            }

            .seat {
                background: #49596d;
                padding-left: 30px;
                line-height: 46px;
                margin-top: 28px;
                border-radius: 0px 46px 46px 0px;
                width: 270px;

                a {
                    font-size: 16px;
                    color: #fff;
                    font-weight: 400;
                    font-family: $Roboto;

                    img {
                        padding-right: 15px;
                    }

                    span {
                        font-size: 24px;
                    }
                }
            }

            .price {
                h3 {
                    color: #444;
                    font-size: 24px;
                    font-family: $Roboto;
                    font-weight: 500;
                    padding: 20px 0;

                    span {
                        color: #ff0000;
                        font-weight: 700;
                    }
                }

                h2 {
                    color: #444;
                    font-size: 30px;
                    font-family: $Roboto;
                    font-weight: 500;

                    span {
                        color: #ff0000;
                        font-weight: 700;
                    }
                }
            }

            .gd-right {
                clip-path: polygon(25% 45%, 25% 0, 100% 0, 100% 100%, 25% 100%, 25% 55%, 15% 50%);
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

//========== ofline-course style end ==========\\

//========== ofline course style end ==========\\

// ============================================================================== \\

//---------- ofline course End ----------\\

// ============================================================================== \\

// ============================================================================== \\

//---------- online-course Start ----------\\

// ============================================================================== \\

//========== online-course style start ==========\\

//========== online-course style start ==========\\

#online-course {
    background: #fffdf7;
    padding: 30px 0;

    .common-head {
        text-align: center;

        h2 {
            font-family: $Roboto;
            color: #5b6b80;
            font-size: 32px;
            font-weight: 400;
            display: inline-block;
            position: relative;
        }

        h2:after {
            position: absolute;
            content: '';
            width: 50px;
            height: 2px;
            left: 50%;
            bottom: -12px;
            transform: translateX(-50%);
            background: #ddd;
        }

        p {
            font-family: $Roboto;
            color: #777;
            font-size: 16px;
            font-weight: 400;
            padding-top: 25px;
        }
    }

    .content {
        .pane {
            margin: 15px 0;
            background: #f5f5f5;
            border: 1px solid #ddd;
            border-right: none;
            transition: all linear .3s;

            .gd-left {
                padding-top: 45px;
                padding-left: 30px;

                h3 {
                    font-size: 24px;
                    color: #222;
                    font-weight: 400;
                    font-family: $Roboto;
                    padding-bottom: 20px;
                }

                p {
                    font-size: 16px;
                    color: #444;
                    font-weight: 400;
                    font-family: $Roboto;
                    line-height: 28px;
                }

                a {
                    font-size: 20px;
                    color: #0000ff;
                    font-weight: 400;
                    font-family: $Roboto;
                    text-transform: capitalize;
                }
            }

            .seat {
                background: #49596d;
                padding-left: 30px;
                line-height: 46px;
                margin-top: 28px;
                border-radius: 0px 46px 46px 0px;
                width: 270px;

                a {
                    font-size: 16px;
                    color: #fff;
                    font-weight: 400;
                    font-family: $Roboto;

                    img {
                        padding-right: 15px;
                    }

                    span {
                        font-size: 24px;
                    }
                }
            }

            .price {
                h3 {
                    color: #444;
                    font-size: 24px;
                    font-family: $Roboto;
                    font-weight: 500;
                    padding: 20px 0;

                    span {
                        color: #ff0000;
                        font-weight: 700;
                    }
                }

                h2 {
                    color: #444;
                    font-size: 30px;
                    font-family: $Roboto;
                    font-weight: 500;

                    span {
                        color: #ff0000;
                        font-weight: 700;
                    }
                }
            }

            .gd-right {
                clip-path: polygon(25% 45%, 25% 0, 100% 0, 100% 100%, 25% 100%, 25% 55%, 15% 50%);
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

//========== online-course style end ==========\\

//========== online-course style end ==========\\

// ============================================================================== \\

//---------- online-course End ----------\\

// ============================================================================== \\

// ============================================================================== \\

//---------- course-details Start ----------\\

// ============================================================================== \\

//========== course-details style start ==========\\

//========== gd-banner style start ==========\\

#gd-banner {
    padding: 200px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .gd-banner {
        h1 {
            @extend %h1;
        }

        p {
            @extend %p;

            span {
                color: #ff0000;
            }
        }
    }
}

//========== gd-banner style end ==========\\

//========== all-course style start ==========\\

#all-course {
    padding: 50px 0;

    .content {
        .course-head {
            h1 {
                @extend %h1;
                color: #000000;
                text-align: center;
                position: relative;
            }

            h1::before {
                position: absolute;
                content: '';
                height: 2px;
                width: 250px;
                background: #000000;
                top: 100%;
                left: 39%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
            }
        }

        .course-img {
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
            margin: 20px 0;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
        }

        .course-details {
            h3 {
                font-size: 24px;
                font-family: $Roboto;
                font-weight: 400;
                color: #4e5e73;
                text-transform: capitalize;
                padding-top: 31px;
                padding-bottom: 15px;
                position: relative;
            }

            h3:after {
                position: absolute;
                content: '';
                width: 50px;
                height: 3px;
                background: #ddd;
                bottom: 10px;
                left: 0;
            }

            p {
                font-size: 16px;
                font-family: $Roboto;
                font-weight: 400;
                color: #444;
                line-height: 30px;
                text-align: justify;
            }
        }

        .course-info {
            h3 {
                font-size: 20px;
                font-family: $Roboto;
                font-weight: 400;
                color: #4e5e73;
                text-transform: capitalize;
                padding-top: 10px;
                padding-bottom: 20px;
                position: relative;
            }

            h3:after {
                position: absolute;
                content: '';
                width: 50px;
                height: 3px;
                background: #ddd;
                bottom: 10px;
                left: 0;
            }

            p {
                font-size: 16px;
                font-family: $Roboto;
                font-weight: 400;
                color: #444;
                line-height: 30px;
                text-align: justify;
            }

            h5 {
                font-size: 16px;
                font-family: $Roboto;
                font-weight: 400;
                color: #444;
                text-transform: capitalize;
                line-height: 30px;
            }

            i {
                color: #ddd;
                font-size: 14px;
                margin-right: 10px;
            }

            h4 {
                font-size: 18px;
            }
        }

        .course-button {
            padding-top: 20px;

            a {
                margin-right: 20px;
                background: none;
                border: 1px solid #dddddd;
                color: #444;
                transition: all .3s linear;
                display: inline-block;
                padding: 10px 15px;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                -webkit-transition: all .3s linear;
                -moz-transition: all .3s linear;
                -ms-transition: all .3s linear;
                -o-transition: all .3s linear;
            }

            a:hover {
                background: #0000ff;
                color: #fff;
                border-color: #0000ff;
            }
        }
    }
}

//========== all-course style end ==========\\

//==========  style start ==========\\

//==========  style end ==========\\

//==========  style start ==========\\

//==========  style end ==========\\

//========== course-details style end ==========\\

// ============================================================================== \\

//---------- course-details End ----------\\

// ============================================================================== \\

// ============================================================================== \\

//---------- admission Start ----------\\

// ============================================================================== \\

//========== admission style start ==========\\

//==========  style start ==========\\

#admission {
    padding: 40px 0;

    form {
        .form-head {
            h2 {
                @extend %h1;
                color: #000000;
                text-align: center;
                position: relative;
            }

            h2:after {
                position: absolute;
                content: '';
                width: 50px;
                height: 2px;
                left: 50%;
                bottom: -12px;
                transform: translateX(-50%);
                background: #ddd;
            }

            h3 {
                font-family: $Roboto;
                font-weight: 400;
                font-size: 24px;
                color: #4e5e73;
                padding-bottom: 20px;
                margin-top: 50px;
            }
        }

        label {
            text-transform: capitalize;
            font-family: $Roboto;
            font-weight: 400;
            font-size: 16px;
            color: #000000;
            margin-bottom: 5px;
        }

        .form-control {
            height: 38px;
            text-transform: capitalize;
            margin-bottom: 20px;
            font-family: $Roboto;
            font-weight: 400;
            font-size: 15px;
            color: #999;
        }

        .form-control:focus {
            box-shadow: none;
        }

        .form-control::placeholder {
            font-family: $Roboto;
            font-weight: 400;
            font-size: 15px;
            color: #999;
        }

        .submit {
            padding-top: 30px;

            .btn {
                padding: 15px 50px;
                border-radius: 55px;
                background: #0000ff;
                color: #fff;
                font-family: $Roboto;
                font-weight: 400;
                font-size: 20px;
                transition: all linear .3s;
            }

            .btn:hover {
                background: #00008f
            }
        }

        .ru-main {
            line-height: 34px;

            .ru {
                margin-right: 30px;
                font-family: $Roboto;
                font-weight: 400;
                font-size: 15px;
                color: #999;
            }

            .customcheck {
                margin-right: 0;
                margin-left: 20px;
                position: relative;
                padding-left: 25px;
                margin-bottom: 12px;
                cursor: pointer;
                color: #999;
                line-height: 16px;
                font-size: 16px;
                margin-right: 25px;
                font-family: $Roboto;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }

                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 15px;
                    width: 15px;
                    background-color: #999;
                    border-radius: 3px;
                }

                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 6px;
                    top: 1px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                input:checked~.checkmark {
                    background-color: #5b8a52;
                    border-radius: 3px;
                    color: #5b8a52;
                }
            }

            .customcheck:hover input~.checkmark {
                background-color: #ccc;
            }

            .customcheck input:checked~.checkmark:after {
                display: block;
            }
        }

        #getintouch-part {
            padding-top: 20px;
            padding-bottom: 30px;

            input {
                margin: 10px 0;
            }

            table {
                td {
                    border: 1px solid #cccccc;
                    font-size: 16px;

                    input {
                        width: 100%;
                        height: 100%;
                        border: 0;
                        height: 100%;
                    }
                }
            }

            .tbl1 {
                th {
                    font-family: $Roboto;
                    font-weight: 400;
                    font-size: 18px;
                    color: #fff;
                    width: 20%;
                    border-right: 1px solid #3c4a5d;
                    padding-top: 15px;
                    text-align: center;
                    background: #4e5e73;
                }
            }

            .tbl2 {
                td {
                    font-family: $Roboto;
                    font-weight: 400;
                    font-size: 16px;
                    color: #000000;
                    width: 20%;
                }
            }

            .deg {
                td {
                    text-align: center;
                    font-weight: 700;
                    font-size: 20px;
                }
            }

            table {
                td {
                    border: 1px solid #eeeeee;
                    font-size: 16px;
                    padding: 0 15px;
                    font-family: $Roboto;
                    font-weight: 400;
                    color: #4e5e73;
                }
            }
        }
    }
}

#addmission-tab-part {
    position: relative;
    margin-bottom: 25px;
    h2 {
        font-size: 32px;
        color: #4e5e73;
        margin-top: 20px;
        position: relative;
        color: #444;
        font-family: $Roboto;
    }
    h2:after {
        position: absolute;
        bottom: -20px;
        left: 0;
        background: #dddddd;
        content: "";
        width: 50px;
        height: 3px;
    }
    .nav-pills {
        position: absolute;
        background: #fff;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center !important;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        .nav-link.active p {
            color: #ffffff;
        }

        .nav-item {

            .nav-link {
                text-align: center;
                border: none;
                font-size: 14px;
                color: #444;
                font-family: $Roboto;
                text-transform: capitalize;
                display: block;
                padding: 20px 30px;
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                -ms-border-radius: 0;
                -o-border-radius: 0;
                span {
                    color: #444;
                    font-size: 50px;
                }
            }

            .nav-item.blbr {
                border-right: none;
                border-left: none;
            }

            .nav-link.active span {
                color: #ffffff;
            }
        }

    }
    .ad-pro {
        border-bottom: 1px solid #dddddd;
        padding: 50px 0 10px;
        .become {
            margin-top: 50px;
            font-size: 16px;
            font-family: $Roboto;
            color: #444;
        }
        .document {
            font-size: 18px;
            margin-top: 30px;
            margin-left: 20px;
            position: relative;
            color: #444;
            li {
                margin-top: 30px;
                font-size: 16px;
                font-family: $Roboto;
                color: #444;
                i {
                    font-size: 12px;
                    color: #dddddd;
                    position: absolute;
                    left: -24px;
                    margin-top: 8px;
                
                }
            }            
        }
        .must {
            font-size: 18px;
            margin-left: 60px;
            position: relative;
            color: #444;
            color: #9f9f9f;
            margin-top: 10px;
            li {
                margin-top: 30px;
                font-size: 16px;
                font-family: $Roboto;
                color: #444;
            }
            span {
                position: absolute;
                left: -30px;
                color: #444;            
            }
        }
        table {
            border: 1px solid #dddddd;
            text-align: center;
            border-radius: 5px;
            color: #444;
            th {
                color: #ffffff;
                border: 0;
                border-right: 1px solid #415167;
                font-size: 20px;
                background: #4e5e73;
                font-family: $Roboto;
            }
            td {
                border: 0;
                border-right: 1px solid #ddd;
                font-size: 18px
            }
        }
        .table-striped tbody tr:nth-of-type(odd) {
            background: transparent;
        }
        .table-striped tbody tr:nth-of-type(even) {
            background: #f8f8f8;
        }
    }
    .b-0 {
        border: 0;
    }
    .online-pro {
        display: none;
        display: none;
    }
}

//========== admission style end ==========\\

// ============================================================================== \\

//---------- admission End ----------\\

// ============================================================================== \\

// ============================================================================== \\

//---------- Gallery Start ----------\\

// ============================================================================== \\

//========== photo gallery style Start ==========\\

#photog {
    padding: 50px 0;
    .head {
        h1 {
            @extend %h1;
            color: #000000;
            text-align: center;
            position: relative;
        }

        h1::before {
            position: absolute;
            content: '';
            height: 2px;
            width: 250px;
            background: #000000;
            top: 100%;
            left: 39%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
}

//========== photo gallery style end ==========\\

//========== video gallery style Start ==========\\

#videog {
    padding: 50px 0;
    .head {
        h1 {
            @extend %h1;
            color: #000000;
            text-align: center;
            position: relative;
        }

        h1::before {
            position: absolute;
            content: '';
            height: 2px;
            width: 250px;
            background: #000000;
            top: 100%;
            left: 39%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
}

//========== video gallery style end ==========\\

// ============================================================================== \\

//---------- gallery End ----------\\

// ============================================================================== \\

// ============================================================================== \\

//---------- student Start ----------\\

// ============================================================================== \\

//========== student style Start ==========\\

#student {
    padding: 50px 0;
    .head {
        h1 {
            @extend %h1;
            color: #000000;
            text-align: center;
            position: relative;
        }

        h1::before {
            position: absolute;
            content: '';
            height: 2px;
            width: 250px;
            background: #000000;
            top: 100%;
            left: 39%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
        }
    }
}

//========== student style end ==========\\

// ============================================================================== \\

//---------- student End ----------\\

// ============================================================================== \\

// ============================================================================== \\

//---------- contact Start ----------\\

// ============================================================================== \\

//========== contact style start ==========\\

//========== banner style start ==========\\

#contact-banner {
    padding: 200px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .banner-contact {
        h1 {
            @extend %h1;
        }

        p {
            @extend %p;

            span {
                color: #ff0000;
            }
        }
    }
}

//========== banner style end ==========\\

//========== contact style start ==========\\

#contact {
    .add-mess {
        padding: 100px 0;
        background: url(../img/dot-map.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .address {
            padding: 20px;
            background: #ffffff;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);

            .title {
                h1 {
                    color: #000000;
                    font-size: 40px;
                    font-family: $Roboto;
                    font-weight: 700;
                    padding: 20px 0;
                    text-transform: uppercase;
                    line-height: 50px;
                }
            }

            .contact {
                i {
                    width: 80px;
                    height: 80px;
                    line-height: 50px;
                    color: #ffffff;
                    background: #0000ff;
                    border-radius: 50%;
                    text-align: center;
                    margin-top: 10px;
                    font-size: 40px;
                    padding: 15px;
                }

                h5 {
                    @extend %h5;
                }

                p {
                    color: #000000;
                    font-family: $Roboto;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 20px;
                }

                h3 {
                    color: #000000;
                    font-family: $Roboto;
                    font-size: 30px;
                    font-weight: 400;
                    text-transform: capitalize;
                    padding-bottom: 10px;
                }

                .contact-common {
                    padding-bottom: 20px;
                }

                .xtra5 {
                    padding-top: 0;
                }

                .xtra21 i {
                    margin-top: 0;
                }

                .ftralin {
                    padding-top: 0;
                }

                .phone {
                    padding-top: 10px;

                    h5 {
                        @extend %h5;
                    }

                    p {
                        a {
                            margin-bottom: 0;
                            color: #000000;
                            font-family: $Roboto;
                            font-weight: 400;
                            font-size: 20px;
                        }
                    }
                }

                .email {
                    padding-top: 15px;

                    h5 {
                        @extend %h5;
                    }

                    p {
                        a {
                            color: #000000;
                            font-family: $Roboto;
                            font-weight: 400;
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .message {
            padding: 20px;

            .head {
                h6 {
                    color: #0000ff;
                    font-size: 20px;
                    font-family: $Roboto;
                    font-weight: 400;
                    padding: 20px 0;
                    text-transform: uppercase;
                    position: relative;
                    display: inline-block;
                }

                h6::before {
                    position: absolute;
                    content: '';
                    height: 1px;
                    width: 100px;
                    background: #0000ff;
                    left: 110%;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                }

                h2 {
                    font-size: 40px;
                    font-family: $Roboto;
                    font-weight: 700;
                    padding: 0 0 20px 0;
                    text-transform: uppercase;
                }
            }

            form {
                label {
                    font-size: 20px;
                    font-family: $Roboto;
                    font-weight: 400;
                    padding: 0 0 5px 0;

                    span {
                        color: #ff0000;
                    }
                }

                input {
                    height: 50px;
                }

                .form-control {
                    margin: 0 0 10px 0;
                }

                textarea {
                    resize: none;
                    box-sizing: border-box;
                    height: 100px;
                }

                .button {
                    .btn {
                        padding: 10px 15px;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

//========== contact style end ==========\\

//==========  style start ==========\\

//==========  style end ==========\\

//========== contact style end ==========\\

// ============================================================================== \\

//---------- Contact End ----------\\

// ============================================================================== \\